<html lang="en">

<head>
    <title>Article viewer</title>
    <meta charset="utf-8"><style data-styles="">stencila-code-chunk,stencila-code-expression,stencila-code-fragment,stencila-document-toolbar,stencila-code-dependency,stencila-code-block,stencila-code-dependencies,stencila-code-error,stencila-input,stencila-tab,stencila-tab-list,animated-route-switch,stencila-data-table,stencila-image-object,stencila-image-plotly,stencila-image-vega,stencila-parameter,stencila-project-graph,stencila-details,stencila-toolbar,stencila-icon,stencila-editor,stencila-button,stencila-tooltip,stencila-tooltip-element,stencila-toast,stencila-action-menu,stencila-node-list,animate-presence,stencila-toast-container,stencila-menu-item,stencila-menu{visibility:hidden}.hydrated{visibility:inherit}</style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/@stencila/thema@2/dist/themes/skeleton/styles.css" rel="stylesheet">
    <script src="https://unpkg.com/@stencila/thema@2/dist/themes/skeleton/index.js" type="text/javascript"></script>
    <script src="https://unpkg.com/@stencila/components@<=1/dist/stencila-components/stencila-components.esm.js" type="module"></script>
    <script src="https://unpkg.com/@stencila/components@<=1/dist/stencila-components/stencila-components.js" type="text/javascript" nomodule=""></script>
    <style>[data-itemscope='root'] {
        --max-width: 900px;
    }
    </style>
    </head>

<body>
    <div>
        <label for="search">Search:</label>
        <input id="search">
    </div>

    <main role="main"  data-itemscope="root">
        <h1>Article viewer</h1>
        {{pageHtml}}
    </main>


    <dialog id="searchResultsDialog">
        <h1>Search results</h1>
        <div id="searchResults">

        </div>
    </dialog>


    <script>
        var idx = null;
        fetch('/search.index').then(
            response => response.json()
            ).then(data => idx = lunr.Index.load(data));

        document.getElementById('search').addEventListener("keyup", (event) => search(event.target.value));

        function search(searchTerm) {
            var searchResultElement = document.getElementById("searchResults");
            var searchResultDialogElement = document.getElementById("searchResultsDialog");
            if (searchTerm == "") {
                searchResultDialogElement.removeAttribute("open");
                return;
            }
            searchResultDialogElement.hasAttribute("open") || searchResultDialogElement.setAttribute("open", "");
            searchResultElement.innerHTML = "";

            var results = idx.search(searchTerm)

            results.forEach(function(result) {

                fetch('/articles/'+result.ref+'/article.json')
                    .then(response => response.json())
                    .then(function(articleObj) {

                    var titleElement = document.createElement("h2");
                        titleElement.innerText = articleObj.title;
                    var descriptionElement = document.createElement("p");
                        descriptionElement.innerText = articleObj.description;



                    var resultLinkElement = document.createElement("a")
                    resultLinkElement.innerHTML = result.ref;
                    resultLinkElement.setAttribute("href", "/articles/"+result.ref+"/index.html");

                    searchResultElement.appendChild(titleElement);
                    searchResultElement.appendChild(descriptionElement);
                    searchResultElement.appendChild(resultLinkElement);
                });

            });
        }
    </script>
</body>

</html>
